/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #3e2c2c;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #4a3b3b;
}


/* Fondo con imagen */
body {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url('./imagenes/pareja/fotoIndexHorizonal.png');
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Overlay oscuro para que el texto resalte */
body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.25); /* sombra ligera */
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  width: 40%;
  max-width: 500px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2rem;
  border-radius: 12px;
  background-color: rgba(232, 210, 201, 0.85); /* mismo en ambas páginas */
  margin: 2rem auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* pequeño relieve */
}

/* Input */
input {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

/* Botones */
.btn {
  background-color: rgb(232, 210, 201); 
  color: #ffffff;
  margin: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

/* Hover efecto */
button:hover, 
.falsoBoton:hover {
  background-color: rgb(200, 180, 172);
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 1.5rem;
  }

  input, button, .falsoBoton {
    width: 100%;
    max-width: 250px;
  }
}






