* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

body {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url('./imagenes/pareja/fotoIndexHorizonal.png');
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.container {
  position: relative;
  z-index: 1;
  width: 40%;
  max-width: 500px;   /* ancho máximo para que no se expanda demasiado */
  min-width: 280px;   /* asegura que en pantallas muy chicas no se achique demasiado */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(232, 210, 201, 0.655);
  margin: 2rem auto;

  /* El truco */
  height: auto;         /* deja que crezca según contenido */
  min-height: 40%;      /* que tenga un mínimo */
}




input, button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

input {
  width: 200px;
}

button {
  background-color: rgba(232, 210, 201, 0.655);
  color: #ffffff;
  cursor: pointer;
}
.falsoBoton {
  display: inline-block;
  background-color:  rgb(232, 210, 201);
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    width: 90%;        /* más adaptable en móviles */
    height: auto;      /* que se ajuste automáticamente */
    padding: 1.5rem;
  }

  input {
    width: 100%;       /* ocupa todo el ancho del recuadro */
    max-width: 250px;  /* pero no se va a infinito */
  }

  button {
    width: 100%;
    max-width: 250px;
  }
}