* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

body {
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center; 
  background-image: url('./imagenes/fondo_index.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  position: relative;
  z-index: 1;
  height: 40%;
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(232, 210, 201, 0.655);
  margin: 2rem auto;
}

input, button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

input {
  width: 200px;
}

button {
  background-color: rgba(232, 210, 201, 0.655);
  color: #ffffff;
  cursor: pointer;
}
.falsoBoton {
  display: inline-block;
  background-color:  rgb(232, 210, 201);
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    height: 50%;
  }
}
